
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.page__container{
    min-width: 100vw;
    min-height: 100vh;
    background-color: $DarkBlue_Color;
    @include media-down( md ) { padding: 2rem 1rem; }
    @include media-up( md ) { padding: 2rem 12rem; }
}