.Svg__Home{
    position: absolute;
    bottom: 0;
    right:0;
    width: 5rem;
    fill: $Orange_Color;
    margin: 2rem;
    transition: transform .3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        fill: $Light_Color;
    }
}
.svg__tap{
    margin-top: 1rem;
    fill: $Orange_Color;
}
.svg__close{
    cursor: pointer;
    position: absolute;
    top: 6rem;
    right: 1rem;
    fill: $Red_Color;
    width: 6rem;
    transition: transform .3s ease;
    &:hover{
        transform: scale(1.1);
    }
}
.svg__right-arrow{
    width: 5rem;
    fill: $Light_Color;
}